// MIXINS && VARIABLES

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-container {
  display: inline-block;
  position: relative;
  min-width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 0;
}


// TYPOGRAPHY
h2 {
  font-size: 3rem;
}
