// MIXINS && VARIABLES

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.y-axis > g:last-child, .y-axis > g:nth-child(2){
  opacity: 0;
}


.overlay {
  fill: none;
  pointer-events: all;
}

.close-price, .latest-close-price, .target-date{
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
  
.x-hover-line, .y-hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

#chart{
  display: flex;
  width: 100%;
  height: 0%;
}

.security-information-container{
  display:flex;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 70%;
  min-width: 40em;

  vertical-align: top;
  overflow: hidden;
}

.svg-graph{
  width: 100%;
}

.svg-content-responsive {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 0;
}


// TYPOGRAPHY
h2 {
  font-size: 3rem;
}
